html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td {
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
  color: inherit;
  font-family: $font-family;
}
*, *:before, *:after {
  box-sizing: border-box;
}

ul, ol { margin-bottom: 0; }

input[type="checkbox"] { vertical-align: bottom; }
input[type="radio"] { vertical-align: text-bottom; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
label, input[type="button"], input[type="submit"], button { cursor: pointer; }
img { border: none; }

* {
  outline: none;
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

header, nav, section, article, aside, main, footer {
  display: block;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, td img { vertical-align: top; }

input, select, button, textarea {
  margin: 0;
  font-size: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
//  padding: 5px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

