@import "var";
@import "mixin";

.header {
    @include flexes(flex, row, stretch, center);
    height: 75px;
}

.header__logotype {
    @include flexes(flex, row, center, flex-start);
}

.header__smile__img {
    @include svg(40px, 40px);
}

.header__caption__img {
    @include svg(150px, 40px);
}

.header__logotype {
    flex:0 0 230px;
    background: $color-gray;
    display: flex;
    align-content: center;
    justify-content: center;
}

.header__main {
    background: $color-green;
    width: 100%;
}
