@media screen and (min-width: 5500px)
{ 
	.gallery__block {
        padding:  0;
        border: thin solid #E2E2E5;
        border-radius: 5px ;
        margin: 20px;
        background: #fff;
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 270px;
        flex: 0 0 calc(6% - 40px);
    }
}

@media screen and (min-width: 4000px) and (max-width: 5500px)
{ 
	.gallery__block {
        padding:  0;
        border: thin solid #E2E2E5;
        border-radius: 5px ;
        margin: 20px;
        background: #fff;
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 270px;
        flex: 0 0 calc(8% - 40px);   
    }
}


@media screen and (min-width: 3000px) and (max-width: 4000px )
{ 
.gallery__block {
    padding:  0;
    border: thin solid #E2E2E5;
    border-radius: 5px ;
    margin: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 270px;
    flex: 0 0 calc(10% - 40px); 
    }
}

@media screen and (min-width: 2500px) and (max-width: 3000px )
{ 
	.gallery__block {
    padding:  0;
    border: thin solid #E2E2E5;
    border-radius: 5px ;
    margin: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 270px;
    flex: 0 0 calc(14% - 40px);   
    }
}

@media screen and (min-width: 2000px) and (max-width: 2500px )
{ 
	.gallery__block {
    padding:  0;
    border: thin solid #E2E2E5;
    border-radius: 5px ;
    margin: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 270px;
    flex: 0 0 calc(16% - 40px);
	}
}

@media screen and (min-width: 1500px) and (max-width: 2000px )
{ 
	.gallery__block {
    padding:  0;
    border: thin solid #E2E2E5;
    border-radius: 5px ;
    margin: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 270px;
    flex: 0 0 calc(20% - 40px);
    
	}
}

@media screen and (min-width: 1300px) and (max-width: 1500px )
{ 
	.gallery__block {
    padding:  0;
    border: thin solid #E2E2E5;
    border-radius: 5px ;
    margin: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 270px;
    flex: 0 0 calc(25% - 40px);
    }
}


@media screen and (min-width: 1000px) and (max-width: 1300px )
{ 
	.gallery__block {
    padding:  0;
    border: thin solid #E2E2E5;
    border-radius: 5px ;
    margin: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 270px;
    flex: 0 0 calc(25% - 40px);
    }

    .main__menu {
        display: flex;
        justify-content: flex-start;
        z-index: 7;
        height: 100%;
        position: absolute;
        top:-75px;
    } 

    .header {
        background: $color-green;
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        z-index: 6;
    } 

    .main__menu--navigation {
        background:$color-light-gray;
        border: thin solid #E2E2E5;
        width: 100%;
        height: 100%;
        position: fixed;
        width: 30%;
        opacity: 0;
    }

    .main__menu:hover .main__menu--navigation {
        opacity: 1;
    } 

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        padding: 33px;
        width: 100%;
    }
}


@media screen and (min-width: 700px) and (max-width: 1000px )
{ 
	.gallery__block {
    padding:  0;
    border: thin solid #E2E2E5;
    border-radius: 5px ;
    margin: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 270px;
    flex: 0 0 calc(36% - 66px);
    }
    
    .main__menu {
        display: flex;
        justify-content: flex-start;
        z-index: 6;
        top:-75px;
        height: 100%;
        position: absolute;
    } 

    .header {
        background: $color-green;
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        z-index: 6;
    } 

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        padding: 33px;
        width: 100%;
    }

    .main__menu--navigation {
        background:$color-light-gray;
        border: thin solid #E2E2E5;
        width: 30%;
        height: 100%;
        position: fixed;
        opacity: 0;
    }

    .main__menu:hover .main__menu--navigation {
        opacity: 1;
    }   
}


@media screen  and (max-width: 700px ) and (min-width: 500px )
{ 
	.gallery__block {
        padding:  0;
        border: thin solid #E2E2E5;
        border-radius: 5px ;
        margin: 20px;
        background: #fff;
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 270px;
        flex: 0 0 calc(48% - 33px);
    }
    .main__menu {
        display: flex;
        justify-content: flex-start;
        z-index: 6;
        top:-75px;
        height: 100%;
        position: absolute;
    } 

    .header {
        background: $color-green;
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        z-index: 6;
    } 

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        padding: 33px;
        width: 100%;
    }

    .main__menu--navigation {
        background:$color-light-gray;
        border: thin solid #E2E2E5;
        width: 40%;
        height: 100%;
        position: fixed;
        opacity: 0;
    }

    .main__menu:hover .main__menu--navigation {
        opacity: 1;
    } 
    
    
}


@media screen  and (max-width: 500px )
{ 

    .main {
        justify-content: center;
        background-color:$color-light-gray;
        width: 100%;
    }
    .main__menu {
        display: flex;
        justify-content: flex-start;
        z-index: 6;
        position: static;
        width: 90%;
        align-self: stretch;
    } 
    .main__menu--navigation {
        background:$color-light-gray;
        border: none;
        width: 100%;
        align-self: stretch;
        padding-top: 0px;
        position: static;
    }

    .header {
        background: $color-green;
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        z-index: 6;
    } 

    .gallery {
        display: none;
    }



    .header__logotype__caption {
        display: none;
    }
    
    
}



